#Image1 {
  background: url("https://files.slack.com/files-pri/T6T17AR25-F88QCQFEE/18055857_415715218797465_7138072528059915776_o.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  margin: 0;
  padding: 10px;
  border-radius: 0px;
}

#Image2 {
  background: url("http://d2mlnkprj9wd81.cloudfront.net/sites/default/files/imagecache/themeSlideshow/theme-AR_0.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  margin: 0;
  padding: 10px;
  border-radius: 0px;
}

#mission {
  font-family: 'Lobster', cursive;
}

#mission-paragraph {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
