a {
  font-size: 20px !important;
}

nav {
  background-color: #009688 !important;
}

#logo {
  height: 175px;
  width: 175px;
  color: white !important;
  /*border-radius: 50%; */
  float: left !important;
  opacity: 1 !important;
  border: none;
  margin-left: -800px;
  margin-top: -15px;
}
